/*
 *  yellow:     #fef14b
 *  purple:     #5647a6
 *  blue;       #5d93ff
 */ 

body {
    margin: 0;
    background-color: #5d93ff;
}

body.ng-cloak {
    opacity: 0;
}

header {
    background-color: #5647a6;
    padding: 5px 25px;
    width: 100%;
    height: 80px;
}

.header-title {
    color: #fef14b;
}

header nav {
    position: absolute;
    top: 25px;
    right: 25px;
}

header nav button {
    background-color: #fef14b;
    color: #5647a6;
    font-size: 18px;
    margin-left: 20px;
    padding: 10px;
    border: none;
}

.bubble {
    margin: 0 auto;
    width: 60%;
    padding: 5px 20px;
}

.post {
    background-color: #fdfad5;
    color: black;
    margin-top: 10px
}

.post-author {
    float: left;
    color: #5647a6;
}

.post-date {
    float: right;
}

.post-content {
    clear: both;
}

.comment {
    background-color: lightgrey;
    color: black;
    border: 3px solid dimgrey;
}

